@import "reset"
@import "font-awesome/font-awesome"
@import "pandoc-solarized"

@import "colors"
@import "astro"
@import "archive"
@import "project"

// fonts
$font-stack: 'Roboto', sans-serif

// width
$global-width: 90%
$global-max-width: 960px

=transition($time)
  -webkit-transition: all ease-in-out $time
  -moz-transition: all ease-in-out $time
  -o-transition: all ease-in-out $time
  transition: all ease-in-out $time

=header-background
  background: #686868; /* Old browsers */
  background: -moz-linear-gradient(top, #686868 0%, #242424 100%) /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #686868 0%,#242424 100%) /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #686868 0%,#242424 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#686868', endColorstr='#242424',GradientType=0 ) /* IE6-9 */

=match-parent
  text-align: -webkit-match-parent
  text-align: -moz-match-parent
  text-align: match-parent

body
  color: black
  font-size: 17px
  margin: 0px
  font-family: $font-stack

h1
  font-size: 24px
  font-weight: 700
  margin: 0.7em auto

h2
  font-size: 20px
  font-weight: 700
  margin: 0.83em auto

h3
  font-size: 16px
  font-weight: 700

ul
  margin: 1em auto
  list-style-type: disc
  padding-left: 1em

ol
  margin: 1em auto
  padding-left: 1em

li
  display: list-item
  +match-parent

p
  margin: 1em auto

a
  color: $dark-color
  text-decoration: none
  border-bottom: 1px dashed
  &:hover
    border-bottom: 1px solid

main
  width: $global-max-width
  max-width: $global-width
  margin: auto

header.global
  margin-bottom: 30px
  +header-background
  color: white
  width: 100%
  margin: 0

  a
    color: $nav-font-color
    text-decoration: none
    border: none
    font-size: 18px
    &:hover
      color: $nav-font-color-hover

  div.wrapper
    width: $global-max-width
    max-width: $global-width
    display: flex
    flex-direction: row
    margin: auto

  div.mobile-menu-icon
    display: none

  nav
    display: flex
    flex-direction: row
    text-align: right
    padding: 12px 0 12px 0
    a
      font-weight: bold
      margin-left: 12px
      text-transform: uppercase

  div.logo
    flex-grow: 2
    text-align: left
    padding: 12px 0px 12px 0

footer
  border-top: solid 2px black
  color: #555
  font-size: 12px
  margin-top: 30px
  padding: 12px 24px 12px 0px
  text-align: center

div.info
  color: #555
  font-size: 14px
  font-style: italic
  text-align: right

.tags
  text-align: right

table
    border-collapse: collapse
    border-spacing: 2px

th
  font-weight: 700

table, td, th
    border: 1px solid $dark-color
    padding: 1px

@media screen and (max-width: 550px)
  header.global
    nav
      flex-direction: column
      max-height: 20px
      overflow: hidden
      +transition(0.4s)
      &.active
        max-height: 360px
      div
        padding-bottom: 12px

    div.mobile-menu-icon
      display: block
      cursor: pointer
      padding-bottom: 20px
