---
title: Home
---

<h2>Benvenuto</h2>

<p>Welcome to my site!</p>

<section>This site is a sort of landing page for my open-source projects.
  The list of them is available on <a href="/projects.html">projects page</a>.
</section>

<section>
  <p>The site has been written in <a href="https://www.haskell.org/">Haskell</a> using <a href="http://jaspervdj.be/hakyll">Hakyll</a> library.</p>
  <p>Though I am not really good in front-end development I tried to use some cuttind-edge front-end technologies,
  including <a href="http://elm-lang.org/">Elm language</a> for programming,
  <a href="http://sass-lang.com/">SASS language</a> for style sheets
  and <a href="https://www.w3schools.com/css/css3_flexbox.asp">Flexbox</a> for HTML layout.</p>
</section>

<h2>List of my recent posts</h2>
$partial("templates/post-list.html")$

<p>…or you can find more in the <a href="/archive.html">archives</a>.</p>

<p>
    Browse by tag: $tags$
</p>
